<!DOCTYPE HTML>
<html lang="pt br">
<head>
	<meta charset="UTF-8">
	<title>Earendel Soluções</title>
	{% load static %}
	 <link rel="stylesheet" href="{% static 'style1/add.css' %}"/>
</head>
<body>
	<a href="index.html"><img src="{% static 'res/logo.png' %}" alt="Earendel" title="Earendel" class="logo"/></a>
	<a href="lista.html"><h3>Voltar aos produtos</h3></a>
	<h2 class="title">Confirmar Compra</h2>
	<section id="add-wrapper">
		<form method="POST" action="add/">
			<div class="caixas">
				<label for="cnpj">CNPJ:</label>
				<input type="text" placeholder="Insira o CNPJ" name="cnpj">
			</div>
			<div class="caixas">
				<label for="contato">Contato de sua empresa:</label>
				<input type="text" placeholder="Insira o contato" name="contato">
			</div>
			<div class="caixas">
				<label for="resumo">Número do cartão para pagamento:</label>
				<input name="solucao" placeholder="Insira o número do cartão"></textarea>
			</div>
			<div class="caixas">
				<input type="submit" class="btn btn-success">
			</div>
		</form>
	</section>
</body>
</html>
