<!DOCTYPE HTML>
<html lang="pt br">
<head>
	<meta charset="UTF-8">
	<title>Earendel Soluções</title>
	{% load static %}
	 <link rel="stylesheet" href="{% static 'style1/sty.css' %}"/>
</head>
<body>
	<div id="topo">
		<img src="{% static 'res/logo.png' %}" alt="Earendel" title="Earendel" class="img"/>
	</div>
	<img src="{% static 'res/linguica.jpeg' %}" alt="Encheção de" title="linguiça" width=1350 height=820 class="img"/>
	<div class="descricoes">
		<h1 class="title">Faça parte do futuro, agora</h1>
		<h3 class="conteudo">Com a Earendel você encontra as melhores soluções para você e sua empresa</h3>
	</div>
	<div class="descricoes">
		<h1 class="title">Com a Earendel Soluções você encontra soluções para:</h1>
		<ul>
			<li class="conteudo1">Controle de funcionários</li>
			<li class="conteudo1">Controle de finanças</li>
			<li class="conteudo1">Sistemas de câmeras de segurança</li>
			<li class="conteudo1">Presença web</li>
		</ul>
	</div>
	<a href="add.html"><h3>Cadastre sua empresa já!</h3></a>
	<a href="lista.html"><h3>Lista de produtos</h3></a>
	<h3 id="titulo">Quer ser parceiro da nossa empresa? Fique atento à nossa política de segurança:</h3>
	<p>Objetivo da Política</p>
	<p>Esta Política de Segurança da Informação visa orientar as ações, procedimentos e diretrizes para o uso dos ativos de Informação da Earendel Soluções Tecnológicas, ou a elas confiados, a fim de garantir a confidencialidade, integridade, disponibilidade e privacidade (quando aplicável) das Informações, sendo aplicável a todos os colaboradores da Earendel.</p>

<p>Definições</p>
<p>Sobre as informações:</p>
<p>Serão consideradas informações confidenciais aquelas que tiverem respeito às estratégias e o futuro do negócio</p>
<ul>
	<li>Serão consideradas informações internas aquelas que referenciarem os processos internos da organização</li>
	<li>Serão consideradas informações públicas aquelas que não conterem detalhes internos ou confidenciais, tais como essa PSI</li>
	<li>Apenas o CEO e a Comissão gestora terão acesso a informações confidenciais, poderão ser compartilhadas apenas sob discrição dos mesmos.</li>
	<li>Apenas funcionários terão acesso a informações internas, podendo partes dessas serem compartilhadas com parceiros a discrição do chefe responsável.</li>
	<li>A comissão gestora será formada por até 4 diretores de cada setor de acordo com a escolha do CEO.</li>
</ul>
<p>Diretrizes</p>
<p>As informações repassadas para a Earendel Soluções, vindas sobre os clientes, colaboradores e as informações próprias da empresa devem ser acessadas somente por pessoal autorizado.
Criação, alteração e exclusão de contratos e informações devem ser feitas de acordo com as necessidades da empresa e com tais processos documentados sempre que possível.
Devem ser utilizados apenas recursos autorizados para buscar proteger a confiabilidade dos dados e de seu compartilhamento.
Nenhuma informação sobre projetos e processos internos da empresa deve ser compartilhada fora do ambiente profissional.</p>

<p>Normas:</p>
<ul>
	<li>Todos os colaboradores devem portar crachá de identificação para entrada e circulação nos ambientes de trabalho.</li>
	<li>Cada novo colaborador receberá um e-mail corporativo e uma senha que servirá também como credencial de acesso para os softwares utilizados na empresa.</li>
	<li>Para garantir a segurança de nossos colaboradores e dados, não é permitido baixar softwares que não estejam na lista de softwares permitidos no perfil do Active Directory de cada colaborador, a não ser que seja autorizado por algum diretor.</li>
	<li>Para instalação de novas máquinas, deve-se assegurar que:</li>
	<ul>
		<li>As dimensões do local são suficientes para caber todo o equipamento necessário para permitir a locomoção de pessoas.</li>
		<li>Deve-se assegurar de que haja suficientes cabos para conectar o aparelho.</li>
		<li>Os cabos não devem obstruir a passagem de pessoas.</li>
		<li>O local é refrigerado o suficiente para que o equipamento não seja danificado por temperatura.</li>		
	</ul>
	<li>Nenhum equipamento pertencente à empresa deve ser emprestado para quem quer que seja, salvo decisão do responsável pelos equipamentos, sendo que em tal caso deve ser registrado em papel para quem o equipamento foi emprestado e o nome do responsável. Em caso de dano ao equipamento, a pessoa que o requisitou deve pagar por consertos, em caso de perda total (seja por dano irreversível ou por perda) o responsável pelos equipamentos será responsabilizado.</li>
	<li>As senhas para proteção de arquivos internos e confidenciais devem conter no mínimo 8 caracteres, incluir minúsculas e maiúsculas, ao menos um número e caractere especial.</li>
</ul>
<p>Procedimentos</p>
<ul>
	<li>Não se deve trazer alimentos para perto dos equipamentos.</li>
	<li>Ao acessar seu e-mail corporativo pela primeira vez, será exigido que troque a senha temporária por uma nova senha, cumprindo os termos de proteção citados anteriormente. </li>
	<li>O backup dos dados deve ser feito com frequência a critério do administrador do sistema.</li>
	<li>Ao menos as duas últimas cópias do backup devem estar disponíveis a todo momento.</li>
	<li>As cópias de backup devem ser armazenadas em local seguro, separado do sistema principal.</li>
	<li>A empresa fornece os meios e equipamentos necessários para comunicação dentro de si e com seus clientes e parceiros (e-mail, FAX), portanto:</li>
	<li>Tais ferramentas de comunicação devem ser utilizadas apenas para assuntos profissionais.</li>
	<li>Não se deve usar linguagem vulgar em comunicações profissionais.</li>
	<li>Ao se ausentar de uma máquina da empresa, deve-se sempre bloquear a máquina.</li>
	<li>Recomenda-se utilizar sempre a própria máquina, em caso de força maior que não for possível utilizar sua máquina é obrigatório fazer login apenas com sua credencial, o compartilhamento de senhas não é permitido.  </li>
</ul>
</body>
</html>
